# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
local_settings.py
db.sqlite3
*.sqlite3

# Archivos de entorno
.env
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Static files (si se generan)
staticfiles/
static_collected/

# Media files
media/

# Secrets
*.pem
*.key
secrets.json

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage